---
---

@import "{{ site.theme }}";

.inner {
  max-width: 80%;
}

.markdown-body table {
    display: inline-block;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
}

.tbody {
    width: 100%;
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}