---
---

@import "{{ site.theme }}";

.inner {
  max-width: 80%;
}

.full {
    width: 100%;
    cellspacing: 0%;
}

.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre {
    margin-top: 0;
    margin-bottom: 0;
}